*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.top-section{
  position: relative;
}
.logo{
  display: flex;
  cursor: pointer;
}
.logo--section
{
  position: absolute;
  right:0;
  padding: 40px;
}
.logo-b,.logo-j
{
  transition: transform 0.5s ease;
  font-size: 4rem;
}
.logo-j
{
  transform: scaleX(-1);
}

.logo:hover .logo-b
{
  transform: scaleX(-1);
}
.logo:hover .logo-j
{
  transform: scaleX(1);
}

.fullname-section{
  font-size: 4rem;
  position: absolute;
  padding: 40px;
}
.typewriter{
  letter-spacing: 2px;
}
.cursor{
  animation: blink 1s infinite;
}
@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  51%, 100% {
    opacity: 0;
  }
}


.social-media-icons-stack {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}


.icon {
  font-size: 2rem;
  color: #666; 
  transition: color 0.3s ease;
}

.linkedin-icon:hover {
  color: #0077b5;
}

.github-icon:hover {
  color: #333; 
}

.leetcode-icon:hover {
  color: #ffa116;
}

@media (max-width: 768px) {
  .top-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: static;
  }
  .logo--section {
    position: static;
    padding: 20px 0;
    order: 1;
  }

  .fullname-section {
    position: static; 
    padding: 20px 0;
    order: 2;
    text-align: center;
  }
}









